$border:1px solid #dbdbdb;
.appleBusket{
  width: 100%;
  margin:12px;
  border: $border;
  border-radius: 4px;
  >.title{
    padding: 6px 0;
    text-align: center;
    color:#333;
    line-height: 40px;
    font-size: 20px;
  }
  >.state{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    >.section{
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      >.head{
        font-size: 18px;
        color: blueviolet;
      }
      >.content{
        font-size: 14px;
        color: #666;
        span{
          font-size: 20px;
          color: #333;
        }
      }
      &:first-of-type{
        border-right: $border;
      }
    }
  }
  >.appleList{
    padding: 10px;
    .empty-tips{
      text-align: center;
      font-size: 16px;
      padding: 20px;
    }
  }
  >.btn-div{
    padding: 10px;
    justify-content: center;
    align-items: center;
    >button{
      width: 100px;
      height: 50px;
      border:none;
      outline: none;
      background: aqua;
      color: #fff;
      border-radius: 6px;
    }
  }
}